<%= form_with url: data_services_path, method: :get, "data-cy": "data-service-search-form", class: "govuk-form-group" do |form|  %>
  <h1 class="govuk-heading-m">
    Filter by topic and organisation
  </h1>
  <div class="govuk-button-group">
    <%= render 'shared/apply_filters_button' %>
    <% if params[:filters].present? %>
      <%= render 'shared/clear_filters_button' %>
    <%end%>
  </div>
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
    Organisations
    </legend>
    <div class="govuk-checkboxes--small" data-module="govuk-checkboxes">
      <% @organisations_checkbox_list.each do |organisation| %>
        <div class="govuk-checkboxes__item" data-cy="organisation-<%= organisation.name %>-checkbox">
          <%= form.check_box :filters, {:multiple => true, class: "govuk-checkboxes__input", "data-cy": "organisation-#{organisation.name}-checkbox-input", checked: params[:filters]&.include?(organisation.id) }, organisation.id, nil %>
          <%= form.label :filters, "#{organisation.name}", for: "filters_#{organisation.id}", "data-cy": "data-service-search-label", class: "govuk-label govuk-checkboxes__label" %>
        </div> 
      <%end%>
    </div>
  </fieldset>
<%end%>
