<head>
  <%= favicon_link_tag 'favicon.ico' %>
  <title>Data Catalogue</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <script defer data-domain="data-catalogue-prototypes-main.herokuapp.com/manage-prototype" src="https://plausible.io/js/script.manual.js"></script>
  <!-- define the `plausible` function to manually trigger events -->
  <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
  <!-- trigger pageview -->
  <script>
    function prepareUrl(params) {
      const url = new URL(location.href)
      const queryParams = new URLSearchParams(location.search)
      let customUrl = url.protocol + "//" + url.hostname + url.pathname.replace(/\/$/, '')
      for (const paramName of params) {
        const paramValue = queryParams.get(paramName)
        if (paramValue) customUrl = customUrl + '/' + paramValue
      }
      return customUrl
    }
    plausible('pageview', { u: prepareUrl(["article", "page"]) });
  </script>
</head>
