<h1 class="govuk-heading-xl">Find data</h1>

<%= form_with url: data_services_path, method: :get, class: "govuk-form-group" do |form|  %>
  <%= form.label :query, "Search the data catalogue" %>
  <%= form.text_field :query, class: "govuk-input", value: params[:query] %>
  <%= form.submit "Search", class: "govuk-button" %>
<% end %>


<ul class="govuk-list govuk-list--bullet">
  <%= render partial: 'data_service', collection: @data_services %>
</ul>

