<h1 class="govuk-heading-xl">Find government data</h1>
<%= form_with url: data_services_path, method: :get, "data-cy": "data-service-search-form", class: "govuk-form-group" do |form|  %>
  <%= form.label :query, "Search the data catalogue", "data-cy": "data-service-search-label" %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= form.text_field :query, class: "govuk-input", value: params[:query], "data-cy": "data-service-search-input" %>
    </div>
    <div class="govuk-grid-column-one-third">
      <%= form.submit "Search", name: nil, class: "govuk-button", "data-cy": "data-service-search-button" %>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <%= render 'shared/filter', locals: {form: form} %>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l" data-cy="data-services-results-count"><%= @data_services.count %> results</h2>
      <ul class="govuk-list data-services" data-cy="data-service-organisation-list">
        <%= render partial: 'data_service', collection: @data_services %>
      </ul>
    </div>
  </div>
<% end -%>



