<h1 class="govuk-heading-xl">Find government data</h1>
<%= form_with url: data_services_path, method: :get, "data-cy": "data-service-search-form", class: "govuk-form-group" do |form|  %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <%= render 'shared/search' %>
    </div>
  </div>
  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-one-third">
      <%= render 'data_services/filters', locals: {form: form} %>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <%= render 'shared/results_message' %>
      <ul class="govuk-list data-services" data-cy="data-service-organisation-list">
        <%= render partial: 'data_service', collection: @data_services %>
      </ul>
      <div class="govuk-!-margin-bottom-3">
        <nav class="govuk-pagination" role="navigation" aria-label="results">
          <%= govuk_pagination(pagy: @pagy) %>
        </nav>
      </div>
    </div>
  </div>
<% end -%>



