<p class="govuk-caption-xl" data-cy="data-service-<%= @data_service.data_resource.title %>-organisation-name"><a class="govuk-link" href="<%= data_services_path(filters: @data_service.data_resource.publisher_id) %>"><%= @data_service.data_resource.publisher.slug %></a></p>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-1" data-cy="data-service-<%= @data_service.data_resource.title %>-name"><%= @data_service.data_resource.title %></h1>

<p class="govuk-body" data-cy="data-service-<%= @data_service.data_resource.title %>-description"><%= simple_format(@data_service.data_resource.description) %></p>
<dl>
    <%= render 'data_resource_link_detail', field_name: 'Endpoint', field_value: @data_service.endpoint_url %>
    <%= render 'data_resource_link_detail', field_name: 'Documentation', field_value: @data_service.endpoint_description %>
    <%= render 'data_resource_detail', field_name: 'Contact name', field_value: @data_service.data_resource.contact_name %>
    <%= render 'data_resource_link_detail', field_name: 'Documentation', field_value: @data_service.endpoint_description %>
    <%= render 'data_resource_detail', field_name: 'Issued', field_value: @data_service.data_resource.issued %>
    <%= render 'data_resource_detail', field_name: 'Created', field_value: @data_service.data_resource.created %>
    <%= render 'data_resource_detail', field_name: 'Modified', field_value: @data_service.data_resource.modified %>
</dl>
