<p class="govuk-caption-xl" data-cy="data-service-<%= @data_service.name %>-organisation-name"><a class="govuk-link" href="<%= data_services_path(filters: @data_service.organisation.id) %>"><%= @data_service.organisation.name %></a></p>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-1" data-cy="data-service-<%= @data_service.name %>-name"><%= @data_service.name %></h1>

<p class="govuk-body" data-cy="data-service-<%= @data_service.name %>-description"><%= simple_format(@data_service.description) %></p>
<dl>
    <dt class="govuk-heading-m govuk-!-margin-bottom-2">Endpoint</dt>
    <dd class="govuk-body govuk-!-margin-left-0" data-cy="data-service-<%= @data_service.name %>-endpoint-url"><a class="govuk-link" href="<%= @data_service.url %>"><%= @data_service.url %></a></dd>
    <dt class="govuk-heading-m govuk-!-margin-bottom-2">Documentation</dt>
    <dd class="govuk-body govuk-!-margin-left-0" data-cy="data-service-<%= @data_service.name %>-documentation-url"><a class="govuk-link" href="<%= @data_service.documentation_url %>"><%= @data_service.documentation_url %></a></dd>
    <dt class="govuk-heading-m govuk-!-margin-bottom-2">Contact</dt>
    <dd class="govuk-body govuk-!-margin-left-0" data-cy="data-service-<%= @data_service.name %>-contact"><a class="govuk-link" href="<%= @data_service.contact %>"><%= @data_service.contact %></a></dd>
</dl>
