<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <%= render 'shared/head' %>

  <body class="govuk-template__body govuk-body js-enabled">
    <%= render 'shared/header' %>
    <div class="govuk-width-container">
      <%= render 'shared/phase_banner' %>
      <% unless current_page?(root_path) %>
        <%= render 'shared/back_button' %>
      <% end %>
      <main class="govuk-main-wrapper">
        <%= yield %>
      </main>
    </div>
  </body>

  <%= render 'shared/footer' %>
</html>
