<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <%= render 'shared/head' %>
  <body class="govuk-template__body govuk-body js-enabled">
    <%= render 'shared/header' %>
    <div class="govuk-width-container">
      <%= render 'shared/phase_banner' %>
      <% unless current_page?(root_path) %>
        <%= render 'shared/back_button' %>
      <% end %>
      <main class="govuk-main-wrapper">
        <%= yield %>
      </main>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <%= javascript_include_tag 'moj-frontend.min' %>
    <script>
      window.MOJFrontend.initAll();
    </script>
  </body>

  <%= render 'shared/footer' %>
</html>
